# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- Some of the commonly used libraries used by Data Scientists include
- A few examples of evaluating arithmetic expressions in Python
- Data Science Tools
- Create a code cell to convert minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Go

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. matplotlib
4. seaborn
5. scikit-lern

|Data Science Tools    |
|----------------------|
|Jupyter               |
|RStudio               |
|Spyder                |
|----------------------|r

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
h = 200 // 60
m = 200 % 60
print(200, 'minutes est égale à ' , h , 'heures', m , ' minutes')

200 minutes est égale à  3 heures 20  minutes

## Author
Rached Douari